# Tasks

#### 1: Create a new notebook for this task. Be sure to import the relevant libraries, along with your ords_prods_merge dataframe, which should include your newly derived columns from the previous Exercise.

#### 2: In this Exercise, you learned how to find the aggregated mean of the “order_number” column grouped by “department_id” for a subset of your dataframe. Now, repeat this process for the entire dataframe.

#### 3: Analyze the result. How do the results for the entire dataframe differ from those of the subset? Include your comments in a markdown cell below the executed code.

#### 4: Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions.
    
#### 5: The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified. Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). What you’re trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.

#### 6: The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by looking at the prices of the items people are buying. Create a spending flag for each user based on the average price across all their orders using the following criteria:

- If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”
       
- If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

#### 7: In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:

- If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
        
- If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
        
- If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

#### 8: Ensure your notebook is clean and structured and that your code is well commented.

#### 9: Export your dataframe as a pickle file and store it correctly in your “Prepared Data” folder.

#### 10: Save your notebook and submit it to your tutor for review.

#### 1: Create a new notebook for this task. Be sure to import the relevant libraries, along with your ords_prods_merge dataframe, which should include your newly derived columns from the previous Exercise.

# Importing Libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

# Importing Data

In [2]:
path = r'C:\Users\maxca\Instacart Basket Analysis'

In [3]:
df_ords_prods = pd.read_pickle(os.path.join(path, '02 Data','Prepared Data', 'df_ords_prods.pkl'))

In [4]:
df = df_ords_prods

In [5]:
#Checking Shape
df.shape

(32404859, 17)

In [6]:
df.head()

,order_id,user_id,number_of_orders,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_hours
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Average orders
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Most orders
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Average orders
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Most orders

#### 2:  In this Exercise, you learned how to find the aggregated mean of the “order_number” column grouped by “department_id” for a subset of your dataframe. Now, repeat this process for the entire dataframe.

In [7]:
df.groupby('department_id').agg({'number_of_orders': ['mean']})

              number_of_orders
                          mean
department_id
1                    15.457838
2                    17.277920
3                    17.170395
4                    17.811403
5                    15.215751
6                    16.439806
7                    17.225802
8                    15.340650
9                    15.895474
10                   20.197148
11                   16.170638
12                   15.887671
13                   16.583536
14                   16.773669
15                   16.165037
16                   17.665606
17                   15.694469
18                   19.310397
19                   17.177343
20                   16.473447
21                   22.902379

#### 3: Analyze the result. How do the results for the entire dataframe differ from those of the subset? Include your comments in a markdown cell below the executed code.

#### The difference is, that we have all the departements listed.

#### 4: Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions.

In [8]:
#groupby and transform()
df['max_order'] = df.groupby(['user_id'])['number_of_orders'].transform(np.max)

C:\Users\maxca\AppData\Local\Temp\ipykernel_9984\3845132589.py:2: FutureWarning: The provided callable <function amax at 0x00000263FCA74900> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df['max_order'] = df.groupby(['user_id'])['number_of_orders'].transform(np.max)

In [9]:
df.head(15)

,order_id,user_id,number_of_orders,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_hours,max_order
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Average orders,10
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Most orders,10
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Average orders,10
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Most orders,10
5,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10
6,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Average orders,10
7,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,10
8,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,10
9,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Average orders,10
10,2968173,15,15,1,9,7.0,196,2,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Average orders,22
11,1870022,15,17,2,16,8.0,196,6,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,22
12,1911383,15,18,2,11,7.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,22
13,2715276,15,21,1,9,7.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Average orders,22
14,487368,15,22,1,10,14.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,22

In [10]:
#Deriving Columns with loc()
df.loc[df['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [11]:
df.loc[(df['max_order'] <= 40) & (df['max_order'] > 10), 'loyalty_flag'] = 'Regular Customer'

In [12]:
df.loc[df['max_order'] <=10, 'loyalty_flag'] = 'New Customer'

In [13]:
#Checking new column loyalty_flag
df['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular Customer    15876776
Loyal customer      10284093
New Customer         6243990
Name: count, dtype: int64

In [14]:
#Checking updated data frame
df.head()

,order_id,user_id,number_of_orders,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_hours,max_order,loyalty_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New Customer
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Average orders,10,New Customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Most orders,10,New Customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Average orders,10,New Customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Most orders,10,New Customer

#### 5: The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified. Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). What you’re trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.

In [15]:
#groupby and agg() to determine basic statisitcs by the newly created loyality groups
df.groupby('loyalty_flag').agg({'prices' : ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New Customer      13.294670  1.0  99999.0
Regular Customer  12.495717  1.0  99999.0

#### New Customers purchase about 3 dollars more than loyal customers and 0.8 dollars more than regular customers.

#### 6: The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by looking at the prices of the items people are buying. Create a spending flag for each user based on the average price across all their orders using the following criteria:

- If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”

- If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [16]:
#transform() and grouby 
df['product_price_mean'] = df.groupby(['user_id'])['prices'].transform(np.mean)

C:\Users\maxca\AppData\Local\Temp\ipykernel_9984\2343280898.py:2: FutureWarning: The provided callable <function mean at 0x00000263FCA75620> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df['product_price_mean'] = df.groupby(['user_id'])['prices'].transform(np.mean)

In [17]:
df[['user_id', 'product_price_mean']].tail(30)

          user_id  product_price_mean
32404829   193840            7.046341
32404830   194078            7.539801
32404831   202763            7.235439
32404832   194639            8.412658
32404833   196040            7.524779
32404834   196359            8.301235
32404835   197349            7.542958
32404836   197459            8.194909
32404837   198107            8.683333
32404838   198107            8.683333
32404839   200351            7.863636
32404840   205587            7.946970
32404841   200463            8.444737
32404842   203389            8.606030
32404843   202557            6.905655
32404844   202557            6.905655
32404845   202557            6.905655
32404846   202557            6.905655
32404847   202557            6.905655
32404848   202557            6.905655
32404849   202557            6.905655
32404850   202557            6.905655
32404851   202557            6.905655
32404852   202557            6.905655
32404853   202557            6.905655
32404854   202557            6.905655
32404855   202557            6.905655
32404856   203436            7.631579
32404857   203436            7.631579
32404858   205420            7.684746

In [18]:
#Creating Spending Flags with loc()
df.loc[df['product_price_mean'] >= 10, 'spending_flag'] = 'High spender'

In [19]:
df.loc[df['product_price_mean'] < 10, 'spending_flag'] = 'Low spender'

In [20]:
#Checking new column spending_flags
df['spending_flag'].value_counts(dropna = False)

spending_flag
Low spender     31770614
High spender      634245
Name: count, dtype: int64

In [21]:
# Checking the new and the relevant columns
df[['user_id', 'product_price_mean', 'spending_flag']].head(15)

    user_id  product_price_mean spending_flag
0         1            6.367797   Low spender
1         1            6.367797   Low spender
2         1            6.367797   Low spender
3         1            6.367797   Low spender
4         1            6.367797   Low spender
5         1            6.367797   Low spender
6         1            6.367797   Low spender
7         1            6.367797   Low spender
8         1            6.367797   Low spender
9         1            6.367797   Low spender
10       15            3.980556   Low spender
11       15            3.980556   Low spender
12       15            3.980556   Low spender
13       15            3.980556   Low spender
14       15            3.980556   Low spender

#### 7: In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:

- If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
- If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”

- If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

In [22]:
#transform() and grouby 
df['order_frequency_mean'] = df.groupby(['user_id'])['days_since_prior_order'].transform(np.mean)

C:\Users\maxca\AppData\Local\Temp\ipykernel_9984\3000424111.py:2: FutureWarning: The provided callable <function mean at 0x00000263FCA75620> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df['order_frequency_mean'] = df.groupby(['user_id'])['days_since_prior_order'].transform(np.mean)

In [23]:
df[['user_id', 'order_frequency_mean']].tail(30)

          user_id  order_frequency_mean
32404829   193840             21.173913
32404830   194078             13.608247
32404831   202763             13.273408
32404832   194639              8.082452
32404833   196040              8.099548
32404834   196359             17.974026
32404835   197349             10.388278
32404836   197459             13.515385
32404837   198107              8.918919
32404838   198107              8.918919
32404839   200351             16.531915
32404840   205587             26.016807
32404841   200463             30.000000
32404842   203389              5.461957
32404843   202557             10.380062
32404844   202557             10.380062
32404845   202557             10.380062
32404846   202557             10.380062
32404847   202557             10.380062
32404848   202557             10.380062
32404849   202557             10.380062
32404850   202557             10.380062
32404851   202557             10.380062
32404852   202557             10.380062
32404853   202557             10.380062
32404854   202557             10.380062
32404855   202557             10.380062
32404856   203436             22.058824
32404857   203436             22.058824
32404858   205420             14.372727

In [24]:
#Creating order frequency Flags with loc()
df.loc[df['order_frequency_mean'] > 20, 'order_frequency_flag'] = 'Non-frequent customer'

In [25]:
df.loc[(df['order_frequency_mean'] > 10) & (df['order_frequency_mean'] < 20), 'order_frequency_flag'] = 'Regular customer'

In [26]:
df.loc[df['order_frequency_mean'] <= 10, 'order_frequency_flag'] = 'Frequent customer'

In [27]:
#Checking new column order_frequency_flag
df['order_frequency_flag'].value_counts(dropna = False)

order_frequency_flag
Frequent customer        16468582
Regular customer         12508333
Non-frequent customer     3415113
nan                         12831
Name: count, dtype: int64

In [28]:
#Checking whole df
df.head(20)

,order_id,user_id,number_of_orders,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,price_range_loc,busiest_day,busiest_days,busiest_hours,max_order,loyalty_flag,product_price_mean,spending_flag,order_frequency_mean,order_frequency_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New Customer,6.367797,Low spender,20.259259,Non-frequent customer
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,Mid-range product,Regularly busy,Least busy days,Average orders,10,New Customer,6.367797,Low spender,20.259259,Non-frequent customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,Mid-range product,Regularly busy,Least busy days,Most orders,10,New Customer,6.367797,Low spender,20.259259,Non-frequent customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,Mid-range product,Least busy,Least busy days,Average orders,10,New Customer,6.367797,Low spender,20.259259,Non-frequent customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,Mid-range product,Least busy,Least busy days,Most orders,10,New Customer,6.367797,Low spender,20.259259,Non-frequent customer
5,3367565,1,6,2,7,19.0,196,1,1,Soda,...,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New Customer,6.367797,Low spender,20.259259,Non-frequent customer
6,550135,1,7,1,9,20.0,196,1,1,Soda,...,Mid-range product,Regularly busy,Busiest days,Average orders,10,New Customer,6.367797,Low spender,20.259259,Non-frequent customer
7,3108588,1,8,1,14,14.0,196,2,1,Soda,...,Mid-range product,Regularly busy,Busiest days,Most orders,10,New Customer,6.367797,Low spender,20.259259,Non-frequent customer
8,2295261,1,9,1,16,0.0,196,4,1,Soda,...,Mid-range product,Regularly busy,Busiest days,Most orders,10,New Customer,6.367797,Low spender,20.259259,Non-frequent customer
9,2550362,1,10,4,8,30.0,196,1,1,Soda,...,Mid-range product,Least busy,Least busy days,Average orders,10,New Customer,6.367797,Low spender,20.259259,Non-frequent customer
10,2968173,15,15,1,9,7.0,196,2,0,Soda,...,Mid-range product,Regularly busy,Busiest days,Average orders,22,Regular Customer,3.980556,Low spender,11.029412,Regular customer
11,1870022,15,17,2,16,8.0,196,6,1,Soda,...,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular Customer,3.980556,Low spender,11.029412,Regular customer
12,1911383,15,18,2,11,7.0,196,1,1,Soda,...,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular Customer,3.980556,Low spender,11.029412,Regular customer
13,2715276,15,21,1,9,7.0,196,1,1,Soda,...,Mid-range product,Regularly busy,Busiest days,Average orders,22,Regular Customer,3.980556,Low spender,11.029412,Regular customer
14,487368,15,22,1,10,14.0,196,1,1,Soda,...,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular Customer,3.980556,Low spender,11.029412,Regular customer
15,2293453,19,2,5,14,6.0,196,3,0,Soda,...,Mid-range product,Regularly busy,Regularly busy,Most orders,9,New Customer,8.372059,Low spender,8.040698,Frequent customer
16,1973799,19,5,6,12,8.0,196,15,1,Soda,...,Mid-range product,Regularly busy,Regularly busy,Most orders,9,New Customer,8.372059,Low spender,8.040698,Frequent customer
17,532817,19,7,4,17,6.0,196,1,1,Soda,...,Mid-range product,Least busy,Least busy days,Average orders,9,New Customer,8.372059,Low spender,8.040698,Frequent customer
18,1573906,21,10,3,10,6.0,196,2,0,Soda,...,Mid-range product,Regularly busy,Least busy days,Most orders,33,Regular Customer,7.012683,Low spender,10.055000,Regular customer
19,1593000,31,10,3,8,7.0,196,17,0,Soda,...,Mid-range product,Regularly busy,Least busy days,Average orders,20,Regular Customer,8.137793,Low spender,6.073427,Frequent customer

## Exporting Dataframe

In [29]:
df.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'df_Instacart_Prepared_Data.pkl'))